<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" href="/#topics">Topics</a></li>
                <li><a class="page-scroll" href="/#instructors">Instructors</a></li>
                <li><a class="page-scroll" href="/#hardware">Hardware</a></li>
                <li><a class="page-scroll" href="/#references">References</a></li>
                <li><a class="page-scroll" href="/imprint">Imprint</a></li>
            </ul>
        </div>
    </div>
</nav>