<section id="topics" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><a name="topics" class="anchor"></a>Topics</h2>
        <h3 class="section-subheading text-muted">Selection of content to be covered.</h3>
      </div>
    </div>
    <div class="row">
      {% assign sorted_pages = (site.topics | sort: 'scheduled') %}
      {% for topic in sorted_pages %}
      <div class="col-sm-4">
        <h4>{{ topic.title }}</h4>
        <!--<p>{{ topic.description }}</p>-->
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ topic.scheduled | date_to_long_string }} at {{ topic.scheduled | date: "%H:%M" }}</p>
      </div>
        {% assign loopindex = forloop.index | minus: 1 | modulo: 3 %}
        {% if loopindex == 2 %}
    </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <i>Please note that the topics are preliminary and therefore subject to change.</i></p>
      </div>
    </div>
  </div>
</section>
