* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  text-align: center;
  color: #fff;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

header .intro-text {
  padding-top: 40px;
  padding-bottom: 5px; }

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 16px; }

header .intro-text .intro-heading {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px; }

@media(min-width:768px) {
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 20px; }

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px; }

  header .intro-text .intro-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px; } }

footer {
  padding-top: 1rem;
  margin: 2rem 0; }

footer {
  display: block;
  font-weight: bold; }

.list-inline {
  padding-left: 0;
  list-style: none; }

ul.social-buttons li a {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222; }

.team-member {
  margin-bottom: 50px;
  text-align: center; }

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff; }

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none; }

.team-member p {
  margin-top: 0; }

.green {
  color: #15975b; }

.navbar-default .navbar-brand {
  color: #2879d0; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #2268b2; }

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02); }

.navbar-default .navbar-toggle {
  border-color: #2879d0;
  background-color: #2879d0; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2879d0; }

.navbar-default .nav li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff; }

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #2879d0; }

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #2879d0; }

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #2268b2; }

@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    transition: padding .3s; }

  .navbar-default .navbar-brand {
    font-size: 2em;
    transition: all .3s; }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px; }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222; }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em; } }

.bg-light-gray {
  background-color: #fff; }

.bg-dark-gray {
  background-color: #fafafa; }